@model WebBank.Models.Kisiler
@Html.ValidationSummary(true, "", new { @class = "text-danger" })


<h2>Kişi Ekle</h2>

<form asp-action="Ekle" method="post">
    <label>Ad</label>
    <input asp-for="Ad" /><br />
    <label>Soyad</label>
    <input asp-for="Soyad" /><br />
    <label>Internet Bankacalığı?</label>
    <input asp-for="InternetBank" type="checkbox" /><br />
    <button type="submit">Kaydet</button>
</form>
